%social {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  //padding: 20px;
  height: 18px;
  width: 16px;
  padding-left: 25px;
  float: left;
}

%inline{
  display: inline-block;
  float: left;
}

%close {
  color: white;
  position: relative;
  float: right;
  z-index: 1500;
  margin: 30px 30px 0 0;
  background: url(#{$baseImages}/x.svg) no-repeat;
  padding: 8px;
}

%fixed-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $black-secondary;
  margin: 0 auto;
  display: none;
  z-index: 30;
  &.is-active {
    display: block;
  }
}

%first-letter {
  &.first-letter {
    &:first-letter {
      float: left;
      width: 34px;
      height: 36px;
      font-size: 51px;
      font-weight: 400;
      line-height: 54px;
      text-transform: uppercase;
      padding-right: 6px;
    }
  }
}

%page-button {
  line-height: 35px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  background-image: url(#{$baseImages}/arrow-right-black.svg);
  background-position: right 30px center;
  background-repeat: no-repeat;
  padding: 25px 60px 25px 40px;
  border: 1px solid;
  color: $black-primary;
}