/**
Fonts
 */
$font-primary: Georgia, sans-serif;
$font-secondary:'superclarendon', sans-serif;
/**
Colors
 */
$white: #fff;
$black: #000;
$black-primary: #202020;
$black-secondary: rgba(0, 0, 0, 0.5);
$grey-dark: #040404;
$grey-light: #6a6a6a;
$grey-border:#ddd;
$grey-chapter:#999;
$containerPadding: 59px 4.167% 48px 4.167%;
/**
Hamburger var
 */
$hamburger-transition-delay-before: 0.05s, 0s;
$hamburger-transition-delay-after: 0s, 0.05s;
$hamburger-transition-duration: 0.3s, 0.3s;
$hamburger-color: #fff;
$hamburger-width: 25px;
$hamburger-thickness: 3px;
$hamburger-space: 8px;