
.c-hamburger {
  outline: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: -6px 0 0 0;
  padding: 0;
  width: $hamburger-width;
  height: #{(2*$hamburger-space+3*$hamburger-thickness)};
  font-size: 0;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &:focus {
    outline: none;
  }
  %span_state{
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $hamburger-thickness;
    content: "";
    background-color: $hamburger-color;
  }
  span {
    display: block;
    position: absolute;
    //top: 44px;
    width: $hamburger-width;
    //left: 18px;
    //right: 18px;
    height: $hamburger-thickness;
    background: $hamburger-color;
    &::before {
      @extend %span_state;
      top: -$hamburger-space;
    }
    &::after {
      @extend %span_state;
      bottom: -$hamburger-space;
    }
  }
}
.c-hamburger-x {
  %span_transition {
    transition-duration: $hamburger-transition-duration;
    transition-delay: $hamburger-transition-delay-before;
  }
  span {
    &::after {
      @extend %span_transition;
      transition-property: bottom, transform;
    }
    &::before {
      @extend %span_transition;
      transition-property: top, transform;
    }
  }
  &.is-active {
    span {
      background: none;
      &::before {
        top: 0;
        transform: rotate(45deg);
        transition-delay: $hamburger-transition-delay-after;
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
        transition-delay: $hamburger-transition-delay-after;
      }
    }
  }
}