.main-menu {

  &.is-active {
    .transparent-background,
    .menu-container{
      display:block;
    }
    .transparent-background {
      opacity: 0;
    }
    .menu-container{
      left: -100%;
    }
  }
  .menu-container{
    &-link{
      color: #fefefe;
      display: block;
      margin-bottom: 38px;
      .txt {
        font-size: 14px;
        font-weight: 700;
      }
      .num{
        font-size: 12px;
        font-weight: 400;
        padding-right: 23px;
      }
    }
    .connect-with-us{
      margin-top:150px;

      span{
        color: #ffffff;
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    &-socials{
      @extend .socials;
      position: inherit;
      display: block;
      margin-top: 30px;
      .fb, .gp{
        padding-left: 35px;
      }
    }
    display: none;
    color: #fff;
    position:absolute;
    left:0;
    top: 0;
    height: 100%;
    background-color: $black;
    padding: $containerPadding;
    padding-top: 210px;
    z-index: 2;

    &-bottom-text {
      margin-top:70px;
      p{
        max-width: 160px;
        color: #818181;
        font-size: 11px;
        font-weight: 400;
        line-height: 21px;
      }

    }
  }/*menu-container*/

  .transparent-background{
    width:100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1;
    display:none;
  }/*transparent-background*/
}
