body {
  margin: 0;
  background:#fff;
  font-family: $font-primary;
}
a{
  text-decoration:none;
}
.row {
  width: 100%;
  clear: both;
  margin:0 auto;
  display: block;
  max-width: $screenWidth;
  overflow-x: hidden;
}

.column {
  display: inline-block;
  float: left;
}
.wrapper {
  max-width:100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  max-height: 1080px;
}
.clearfix{
  clear: both;
}