/*RESPONSIVE */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
}

@media only screen and (max-height: 450px) {
  //.chapter-menu-container .chapter-menu h3 {
  //  font-size: 23px;
  //  padding: 8px;
  //}
  //.chapter-menu-container .chapter-menu a {
  //  margin-bottom: 1%;
  //  padding: 1% 2%;
  //}
  //
  //.chapter-menu-container .chapter-menu a .chapter-menu-num {
  //  float: left;
  //  padding-right: 20px;
  //}
  //.chapter-menu-white-line {
  //  display: none !important;
  //}
  //.chapter-menu-container .chapter-menu a .chapter-menu-title {
  //  font-size: 13px;
  //  line-height: 26px;
  //  text-align: left;
  //  padding-left: 20px;
  //}
  .cover-container .centered-text-title {
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: -8%;
  }
  .cover-container .centered-text-description {
    padding: 0 23%;
    font-size: 11px;
  }

  .cover .footer-relative-container .explore-more {
    padding-bottom: 8px;
  }
}

@media only screen and (max-height: 690px) {
  //.chapter-menu-container .chapter-menu h3 {
  //  font-size: 23px;
  //  line-height: 28px;
  //  margin-bottom: 2%;
  //  padding-top: 30px;
  //}
  //.chapter-menu-container .chapter-menu a {
  //  margin-bottom: 1%;
  //  padding: 1% 2%;
  //}

  .main-menu .menu-container-link {
    color: #fefefe;
    display: block;
    margin-bottom: 8px;
  }
  .connect-with-us, .menu-container-bottom-text {
    display: none;
  }
  .about-author-popup-container .inner-container {
    padding: 2% 0 0 60px;
    top: 0;
    width: 100%;
  }

  .about-author-popup-container .inner-container .about-author-popup .content-container .content p {
    max-height: 150px;
  }

  .about-author-popup-container .inner-container {
    padding: 2% 0 0 60px;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .chapter-intro {
    padding: 4%;
  }
  .chapter-intro .text h2 {
    font-size: 31px;
    line-height: 51px;
    margin: 0;
  }

  .chapter {
    padding: 44px;
  }
  .chapter-content-wrapper {
    padding: 1% 11%;
    .content {
      max-height: 58%;

      h2 {
        font-size: 25px;
        margin-top: 6px;
      }
    }

    .content-overlay {
      display: none;
    }

    .content-intro {
      font-size: 15px;
      line-height: 29px;
    }
  }

  .footer {
    padding: 0;
    p {
      font-size: 11px;
      span {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-height: 890px) {
  //.chapter-menu-container .chapter-menu h3 {
  //  font-size: 23px;
  //  line-height: 28px;
  //  margin-bottom: 2%;
  //  padding-top: 20%;
  //}
  //.chapter-menu-container .chapter-menu a {
  //  margin-bottom: 1%;
  //  padding: 1% 2%;
  //}

}

@media only screen and (max-width: 1600px) {
  .cover-container .centered-text-title {
    margin-top: 12%;
    font-size: 117px;
  }
  .cover-container .centered-text-description {
    font-size: 18px;
    line-height: 33px;
  }
}

@media only screen and (max-width: 1366px) {
  .cover-container .centered-text-title {
    font-size: 105px;
    margin-top: 6%;
  }
  .cover-container .centered-text-description {
    font-size: 17px;
  }
  .cover-container .centered-text-divider {
    margin-top: 1%;
  }
}

@media only screen and (max-width: 1280px) {
  .about-author-popup-container .inner-container .about-author-popup .content-container .content {
    width: 81%;
  }
}

@media only screen and (max-width: 1220px) {
  .cover-container .centered-text-title {
    font-size: 85px;
  }
  .cover-container .centered-text-description {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  //.chapter {
  //  padding: 44px;
  //  &-content-wrapper {
  //    padding-top: 1%;
  //  }
  //}
}

@media only screen and (max-width: 980px) {
  .chapter-intro .tree-img {
    display: none;
  }
  .chapter-intro .text {
    width: 100%;
    padding-right: 0;
  }
}

@media only screen and (max-width: 900px) {
  .cover-container .centered-text-title {
    font-size: 60px;
  }
  .cover-container .centered-text-description {
    padding: 0 23%;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .about-author-popup-container .inner-container {
    padding: 2% 0 0 60px;
    top: 10%;
  }

  .about-author-popup-container .inner-container .about-author-popup {
    margin: 59px 0 0 -40px;
    max-height: 200px;
  }
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 620px) {
  .cover-container .centered-text-title {
    font-size: 40px;
  }
  .cover-container .centered-text-description {
    line-height: 26px;
  }
  //.chapter-content-wrapper {
  //  .content {
  //    max-height: 58%;
  //
  //    h2 {
  //      font-size: 25px;
  //      margin-top: 6px;
  //    }
  //  }
  //
  //  .content-overlay {
  //    display: none;
  //  }
  //
  //  .content-intro {
  //    font-size: 15px;
  //    line-height: 29px;
  //  }
  //}

  .footer {
    padding: 0;
    p {
      font-size: 11px;
      span {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .about-author-popup-container .inner-container {
    padding: 2% 0 0 60px;
    top: 0;
    width: 100%;
  }
  .chapter-intro {
    padding: 0 15px 0 15px;
  }
}

@media only screen and (max-width: 480px) {
  .cover-container .centered-text-title {
    font-size: 30px;
  }

}

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 350px), screen and (max-height: 500px) {
  //.chapter-content-wrapper {
  //  padding: 1% 8%;
  //}
}