.socials {
  //float: right;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;

  .share {
    @extend %social;
    background-image: url(#{$baseImages}/share.svg);
    background-size: 16px 16px;
    float: right;
  }

  .hidden-socials {
    float: left;
    display: none;
    &.is-active {
      display: inline-block;
    }
  }

  .tw {
    @extend %social;
    background-image: url(#{$baseImages}/t.svg);
    background-size: 19px 16px;
  }
  .fb {
    @extend %social;
    background-image: url(#{$baseImages}/f.svg);
    background-size: 9px 16px;
  }
  .gp {
    @extend %social;
    background-image: url(#{$baseImages}/g.svg);
    background-size: 19px 16px;
  }
}
