@import 'susy';

$susy: (
  /* Tells Susy to use 12 columns */
        columns: 24,
  /* Tells Susy that the container has a max-width of 1120px */
        container: 1920px,
  /* Tells Susy to use border-box */
        global-box-sizing: border-box,

        gutters: 0,

        gutter-position: inside,

        math: fluid,
);
@include border-box-sizing;


