%chapter-nav {
  background-repeat: no-repeat;
  -webkit-background-size: 17px 31px;
  background-size: 17px 31px;
  strong {
    font-family: $font-secondary;
    font-size: 19px;
    font-weight: 700;
  }
  span {
    font-size: 10px;
    font-weight: 700;
    font-style: italic;
    color: #999999;
  }
}
