.about-author-popup-container {
  @extend %fixed-background;
  position: absolute;
  right: 0;
  top: 0;

  .inner-container {
    float: right;
    min-height: 200px;
    right: 0;
    width: 80%;
    height: 80%;
    position: relative;
    display: block;
    background-color: $black;
    padding: 7% 0 0 160px;
    top: 10%;

    .close{
      @extend %close;
      position: absolute;
      top: 0;
      left: 0;
      margin: 30px 0 0 30px;
    }
    .about-author-popup {
      color: $white;
      .title {
        h2 {
          font-size: 36px;
          font-style: italic;
          line-height: 38px;
          margin: 0;
        }
      }
      .content-container {
        padding-top: 6%;

        .content {
          width: 51%;
          p {
            @extend %first-letter;

            overflow-y: auto;
            max-height: 350px;
            font-size: 14px;
            font-weight: 400;
            line-height: 27px;
            margin: 0;
          }
          div {
            img {
              width: 100%;
            }
            &.first {
              @extend .column;
              width: 23%;
            }
            &.second {
              @extend .column;
              width: 77%;
              padding-left: 11%;
            }
          }
        }

      }
    }
  }

}