.chapter-intro {
  padding: 12% 0 0 8.3%;
  height: 100%;
  .text {
    @extend %inline;
    width: 46%;
    padding-right: 8%;

    h3 {
      color: #040404;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 4px;
      width: 238px;
      border-bottom: 2px solid;

      strong {
        color: $black-secondary;
        font-family: $font-secondary;
        font-size: 22px;
        font-weight: 700;
        line-height: 76px;
        letter-spacing: normal;
        padding-right: 6%;
      }
    }
    h2 {
      font-size: 53px;
      font-style: italic;
      line-height: 58px;
      margin: 50px 0 20px 0;
      font-weight: 400;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 31px;
      margin-bottom: 60px;
    }
    .about-author {
      @extend %page-button;
    }
    .about-author:hover {
      background-image: url(#{$baseImages}/arrow-right-white.svg);
      background-color: #111;
      color: #fff;
      transition: 0.2s;
    }

  }
  .tree-img {
    @extend %inline;
    width: 54%;
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      width: 100%;
    }
  }

}