.chapter {
  width: 100%;
  height: 100%;
  padding: 4.8% 29.8% 9.6% 29.8%;
  float: left;
  margin: 0 auto;
  background-color: #f8f8f8;
  position:relative;

  @media screen and (max-width: 1000px){
    padding: 4.8% 7.8% 9.6% 7.8%;
  }
  &-content-wrapper{
    display: block;
    width: 100%;
    padding-top: 13%;
    height: 100%;
    //overflow-y: scroll;
    position: relative;

    @media screen and (max-width: 1000px) {
      padding-top:0;
      height: 80%;
    }
    .content-overlay{
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 95%;
      display: block;

      img{
        float: left;
        width:100%;
      }
    }/*content overlay*/
    .content {
      overflow: auto;
      max-height: 100%;
      //margin-top: 90px;
      padding-right: 10%;
      overflow-y: scroll;


      h2 {
        color: #3c3c3c;
        font-family: $font-secondary;
        font-size: 53px;
        font-weight: 700;
        line-height: 102%;
        margin-top: 12px;

        @media screen and (max-width:500px) {
          font-size: 35px;
        }
      }
      &-intro {
        color: $grey-light;
        font-size: 19px;
        font-style: italic;
        line-height: 37px;
      }
      &-text {
        color: #333333;
        font-size: 15px;
        font-weight: 400;
        line-height: 32px;
        @media screen and (max-width:500px){
          font-size: 12px;
          line-height: 24px;
        }
      }
    }/*content*/
  }/*content wrapper*/
  &-number-container {
    padding: 9px 8px;
    text-align: center;
    border: 3px solid #ddd;
    display: inline-block;
    max-width: 72px;

    .chapter-number {
      font-family: $font-secondary;
      font-size: 33px;
      font-weight: 700;
    }
    .chapter-name {
      font-size: 10px;
      font-weight: 700;
      font-style: italic;
    }
  }/*chapter-number-container*/

}/*chapter*/

.chapter-nav{
  position: absolute;
  display: block;
  width: 100%;
  bottom: 10%;
  left: 0;
  padding: 0 5%;


  &-prev{
    @extend %chapter-nav;
    background-image: url(#{$baseImages}/chapter-prev.svg);
    float: left;
    padding-left: 30px;
    background-position: left center;
    strong {
      color: #5b5b5b;
    }
  }
  &-next{
    @extend %chapter-nav;
    background-image: url(#{$baseImages}/chapter-next.svg);
    float: right;
    //padding-right:30px;
    padding-right: 30px;
    text-align: right;
    background-position: right center;
    strong {
      color: #5a5a5a;
    }
  }
}