.chapter-menu-container {
  @extend %fixed-background;
  text-align: center;
  padding: 6% 12%;

  &.is-active {
    display: block;
  }

  &-close {
    @extend %close;
  }
  .chapter-menu {
    color: $white;
    position: relative;
    width: 100%;
    height: 100%;
    background: $black;
    padding: 4% 10%;

    h3 {
      font-size: 29px;
      font-style: italic;
      line-height: 38px;
      margin-bottom: 8%;
      padding-top: 4%;
    }
    a {
      color: $white;
      position: relative;
      margin-bottom: 20px;
      display: block;
      padding: 23px 15px;
      text-align: center;

      .chapter-menu-num {
        font-family: $font-secondary;
        font-size: 18px;
        font-weight: 300;
      }
      .chapter-menu-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 35px;
        display: block;
      }
      .chapter-menu-white-line {
        width: 30px;
        height: 2px;
        display: block;
        margin: 0 auto;
        background: #fff;
        margin-top: 15px;
      }
    }
    a:hover {
      background: #121212;
    }

  }

}