.contact-wrapper {
  .wrapper {
    height: auto;
    max-height: initial;
  }
}
.contact{
  &-inner {
    span.validation-message {
      display: none;
      &.is-active {
        display: blocK;
      }
    }
  }
  .cover {
    float: none;
    height: inherit;
    .cover-container {
      height: inherit;
      float: none;
      padding: 59px 4.167% 91px;
    }
    span {
      padding-left: 11px;
    }
  }
  &-title{
    color: #3c3c3c;
    font-family: $font-secondary, sans-serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 67px;
    padding: 0 4%;
  }
  .map-title{
    @extend .contact-title;
    width: 100%;
    display: block;
    float: left;
    padding-left: 0;
  }
  %form-field{
    border: 1px solid $black;
    padding: 20px 23px;
  }
  %label-and-input-margins{
    width:100%;
    display: block;
    float: left;
    margin-bottom: 10px;
  }
  label{
   @extend %label-and-input-margins;
  }
  input[type=text], textarea{
      @extend %form-field;
       @extend %label-and-input-margins;
    }

  .send-button{
    @extend %page-button;
    padding: 2% 11%;
    background: transparent;
    text-transform: uppercase;
  }

  &-form{
    width:75%;
    display: inline-block;
    float: left;
    padding: 0 4%;
  }
  &-info{
    width: 25%;
    display: inline-block;
    float: left;
    p{
      span{
        display: block;
        width:100%;
        padding: 1% 0;
      }
    }
  }
  %label-style{
    font-size: 19px;
    font-weight: 400;
  }
  .name{
    float: left;
    color:$black;
  }
  .validation-message{
    float: right;
    color: #d92929;
  }

  .map{
    padding: 2% 4%;
    width:100%;
    display: block;
  }
}

