.cover {
  background-color: $black;
  float: left;
  width: 100%;
  height: 100%;
  display: block;

  .white-link {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 38px;
  }

  &-container {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    background-image: url(#{$baseImages}/bg-image-pattern.png);
    padding: $containerPadding;

    .header {
      &-menu-link {
        position: relative;
        z-index: 20;
        float: left;
        .fa-bars {
          transform: scale(1.84, 1.42);
        }
        span {
          padding-left: 11px;
        }
      }
      &-chapters-link {
        background-image: url(#{$baseImages}/chapter.svg);
        -webkit-background-size: 10px 17px;
        background-size: 18px 17px;
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 27px;
        float: right;
      }
    }
    .centered-text {
      &-title {
        margin-top: 16%;
        color: #ffffff;
        font-family: $font-secondary;
        font-size: 127px;
        font-weight: 700;
        line-height: 109px;
        width: 100%;
        text-align: center;
        margin-bottom: 4%;
      }
      &-description {
        color: #ffffff;
        font-size: 19px;
        line-height: 36px;
        font-weight: 400;
        text-align: center;
        padding: 0 30%;

        span {
          font-weight: 700;
          font-style: italic;
        }
      }
      &-divider {
        background-image: url(#{$baseImages}/divider.svg);
        -webkit-background-size: 135px 9px;
        background-size: 135px 9px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10px;
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 2%;
      }
    }
    /*end of centered-text*/
  }
  /*end of intro-container*/

  .footer {
    float: left;
    width: 100%;
    margin-top: 10.7%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: $containerPadding;
    &-relative-container {
      position: relative;

      .copyright {
        width: 142px;
        color: #bfbfbf;
        font-size: 11px;
        line-height: 15px;
        transform: rotate(-90deg);
        text-align: left;
        position: absolute;
        left: 0;
        transform-origin: 0 0;
        bottom: -50%;
      }

      .explore-more {
        font-style: italic;
        background-image: url(#{$baseImages}/arrow-down.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        display: inline-block;
        //padding: 20px;
        padding-bottom: 20px;
        //padding-bottom:40px;
        //margin-top: -46px;
      }
    }

  } /* end of footer*/
}

/*end of intro*/