.footer-wrapper{
  @extend .wrapper;
  height: auto;
  text-align: center;
}
.footer{
  padding: 8% 0;

  p{
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
    font-family: $font-secondary;

    span{
      font-family: $font-primary;
      font-size: 19px;
      font-style: italic;
      line-height: 76px;
      text-transform: none;
      font-weight: 400;
      padding: 0 14px;
    }
  }
}/*footer*/